* {
  box-sizing:border-box;
  margin:0;
  padding: 0;
  font-family: "Merriweather", serif;
}


body {
  width:90%;
  margin: 0 auto;
}
/* Labeling */

header {
  text-align: center;
  border-bottom: 5px solid black;
  margin-bottom: 4px;
}

h1 {
    margin: 0 -5vw 16px -5vw;
}

h2,
p {
  margin-top: 1em;
  margin-bottom: 1em;
}


fieldset {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border:0;
  margin-top: 1em;
}

.desinline label,
.desinline input,
.desinline select {
  display: inline-flex;
  width:100%;
}

p {
  text-align: center;
}

button {
  width: 100%;
  margin-left: 10px;
}

textarea {
  width: 100%;
}

input,
select,
textarea {
  margin: 1em auto;
  padding: 2em;
}

input,
select {
  display: inline-block;
  height: 2em;
}

.primary div input:last-child {
  width: 40%;
}

.secondary label:not([for="other"]) {
  margin-left: 1em;
}

footer p {
  margin-bottom: 8em;
}

legend,
.withoutfor {
  margin: 0.5em 0;
}

.withoutfor{
  text-align: left;
}
.primary label {
  margin: 0.5em 0;
}

.inline {
  display: inline-flex;
}

.inline input,
.inline label {
  margin: 0;
}

.inline input{
  margin-top: -6px;
}


/*Styling*/

input,
select,
textarea {
  text-align: right;
  transition: background-color 2s;
  background-color: white;
  border-radius: 10px;
}


input:focus,
select:focus,
textarea:focus {
  border: 2px dashed red;
  background-color: lightgrey;
  text-align: left;
}


h1 {
  background-color: #4C4C4C;
  color: white;
}

p,
label {
  color: grey;

}

.primary,
.secondary {
    border-top: 2px solid black;

}

.primary {
  background-color: #f1f1f1;
}


button {
  background-color: turquoise;
  color: white;
  font-size: 1.5em;
  margin-left: 0;
}

legend {
  font-size: 1.5em;
  font-weight: bold;
}


@media (min-width:768px) {

  html {
    width: 80%;
    margin: 0 auto;
  }

  h1 {
      margin: 0 -14vw 16px -14vw;
  }

  .desinline label {
    width: 40%
  }
  .desinline input,
  .desinline select {
    width: 58%;
  }

  .primary div input:last-child {
    width: 10%;
  }
}
