* {
  box-sizing:border-box;
  margin:0;
  padding: 0;
  font-family: "Merriweather", serif;
}


html {
  width: 90%;
  margin: auto;
}


/* Labeling */

header {
  text-align: center;
  border-bottom: 3px solid black;
  margin-bottom: 4px;
  padding: 5px;
}


fieldset {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.desinline label,
.desinline input,
.desinline select {
  display: flex;
  width:100%;
}


p {
  text-align: center;
}


fieldset,
div {
  flex-direction: column;
}

/*Styling*/

p,
label {
  color: lightgrey;
}


fieldset {
  border:0;
  margin-top: 1em;

}

.primary,
.secondary {
    border-top: 2px solid black;
}


@media (min-width:768px) {

  .desinline {

  }
  .desinline label,
  .desinline input,
  .desinline select {
    display: inline-flex;
    width:40%;
  }
}
